.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: black;
}
.btnWrapper {
  margin-top: 20px;
}
.closeBtn {
  border-radius: 1rem;
}
