$accent: #1e4bff;
$secondary-color: #1a73e8;
$tertiary-color: #427aa1;
$forth-color: #a5be00;
$fifth-color: #ebf2fa;

$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e0e0e0;
$gray-300: #cfcfcf;
$gray-400: #999999;
$gray-500: #666666;
$gray-600: #333333;

$success: #34a853;
$error: #ea4335;
$warning: #fbbc05;
