@import "../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: $secondary-color;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.authButtons {
  display: flex;
  gap: 1rem;
}
